.vgmNavLogo img {
  height: 30px;
  padding-right: 10px;
}

.nav-wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

nav .nav-wrapper {
  height: unset;
}

@media only screen and (max-width: 600px) {
  .myNavItem {
    text-align: center;
  }
  .myNavItem a {
    justify-content: center;
  }

  .mainHeader {
    margin-top: 64px;
  }
}