.incorrectToast {
  background-color: red;
}

.wonToast {
  background-color: green;
}

.correctToast {
  background-color: blue;
}

.toast {
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  .mainHeader {
    margin-top: 15px;
  }
}