.vgmNavLogo {
  height: 30px;
  padding-right: 10px;
}

.nav-wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

nav .nav-wrapper {
  height: unset;
  font-size: 25px;
}

.incorrectToast {
  background-color: red;
}

.wonToast {
  background-color: green;
}

.correctToast {
  background-color: blue;
}

.toast {
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .myNavItem {
    text-align: center;
  }
  
  .mainHeader {
    margin-top: 15px;
  }
}